.color-1 {
  fill: #2bdbdc;
  isolation: isolate;
  background-size: cover;
}
.cls-1 {
  opacity: 0.1;
}
.cls-2 {
  opacity: 0.2;
}
.cls-3 {
  opacity: 0.4;
}
.cls-4 {
  opacity: 0.6;
}
.color-2 {
  fill: #0067f4;
  isolation: isolate;
}
.color-3 {
  fill: #4da422;
  isolation: isolate;
}

